@using X.PagedList
@using X.PagedList.Mvc.Core
@using AtlasBlog.Services.Interfaces

@using AtlasBlog.Models
@using X.PagedList.Web.Common

@*@model IPagedList<AtlasBlog.Models.Blog>*@
@model IEnumerable<AtlasBlog.Models.Blog>

@inject IImageService _imageService

@{
    ViewData["Title"] = "Blog Home";
}
@*<h1>@ViewData["Title"]</h1>
*@


<!-- Page content-->
<div class="row">
    <!-- Blog entries-->
    <div class="col-lg-8">
        <!-- Featured blog post-->
        <div class="card mb-4">
            <a href="#!"><img class="card-img-top img-fluid" src="img/workspace2.jpg" @*src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg"*@ alt="..." /></a>
            <div class="card-body">
                <div class="small text-muted">February 22, 2022</div>
                <h2 class="card-title">Featured Post Title</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                <h4 class="lead">
                    ('Demo My Blog' Note for CF)
                </h4>
                <div class="row">
                    <div class="col-8">
                        <ul>
                            <li>
                                Administrator Login - andrew.r.tudor@outlook.com
                            </li>
                            <li>
                                Moderator Login -  moderator@coderfoundry.com
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        Passwords - Abc&123
                    </div>
                </div>
                <div class="text-center">
                    (Don't forget the <u>Bang!</u>)
                </div>
                @*<a class="btn btn-primary" href="#!">Read more →</a>*@
            </div>
        </div>

        <hr />
        <h3>Recent Posts</h3>
        <div class="row row-cols-1 row-cols-md-3 g-2">
            @foreach (var blogPost in Model.SelectMany(b => b.BlogPosts).OrderByDescending(b => b.Updated).Take(3))
            {
                <div class="col">
                    <div class="card h-100">
                        <img src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@blogPost.Title</h5>
                            <p class="card-text h6">@blogPost.Abstract</p>
                            <h6 class="card-title text-muted fst-italic">Created: @blogPost.Created.ToString("MMM dd, yyyy")</h6>
                        </div>
                        <div class="card-footer">
                            <a asp-action="Details" asp-controller="BlogPosts" class="btn btn-sm btn-dark btn-outline-secondary w-100">Read Blog Post</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <hr />

        <h3>Blogs</h3>
        <!-- Nested row for non-featured blog posts-->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            @foreach (var blog in Model.OrderByDescending(b => b.Created))
            {
                <div class="col">
                    <!-- Blog post-->
                <div class="card mb-4">
                        <a asp-action="BlogChildIndex" asp-controller="BlogPosts" asp-route-blogId="@blog.Id">
                            @if (blog.ImageType != "")
                            {
                                <img class="img-fluid" src="@_imageService.ConvertByteArrayToFile(blog.ImageData, blog.ImageType)">
                            }
                            else
                            {
                                <img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." />
                            }
                        </a>
                        <div class="card-body">
                            <div class="small text-muted">@blog.Created.ToString("MMM dd, yyyy")</div>
                            <h2 class="card-title h4">@blog.BlogName</h2>
                            <p class="card-text">@blog.BlogDescription</p>
                            <a class="btn btn-primary" asp-action="BlogChildIndex" asp-controller="BlogPosts" asp-route-blogId="@blog.Id">Read more →</a>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Pagination
        <nav aria-label="Pagination">
            <hr class="my-0" />
            <ul class="pagination justify-content-center my-4">
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                <li class="page-item"><a class="page-link" href="#!">2</a></li>
                <li class="page-item"><a class="page-link" href="#!">3</a></li>
                <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                <li class="page-item"><a class="page-link" href="#!">15</a></li>
                <li class="page-item"><a class="page-link" href="#!">Older</a></li>
            </ul>
        </nav>

        <hr />
        <div class="row">
            <div class="col h3">
                Page (Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of Model.PageCount
            </div>
        </div>
        <div class="row">
            <div class="col">
        Html.PagedListPager(Model, pageNum => Url.Action("Index", new { pageNum }),
                new PagedListRenderOptions
                {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
                })
            </div>
        </div>-->

    </div>


    <!-- Side widgets-->
    <div class="col-lg-4">
        <!-- Search widget -->
        <div class="card mb-4">
            <div class="card-header bg-dark text-light">Search</div>
            <div class="card-body">
                <div class="input-group">
                    <input class="form-control" disabled type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                    <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                </div>
            </div>
        </div>
        <!-- Categories widget-->
        <div class="card mb-4">
            <div class="card-header bg-dark text-light">Categories</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="list-unstyled mb-0">
                            <li><a href="#!" title="Does not work yet">Web Design</a></li>
                            <li><a href="#!" title="Does not work yet">HTML</a></li>
                            <li><a href="#!" title="Does not work yet">Freebies</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-unstyled mb-0">
                            <li><a href="#!" title="Does not work yet">JavaScript</a></li>
                            <li><a href="#!" title="Does not work yet">CSS</a></li>
                            <li><a href="#!" title="Does not work yet">Tutorials</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Side widget-->
        <div class="card mb-4">
            <div class="card-header bg-dark text-light">Shortcuts - (make visible to only Admin)</div>
            <div class="card-body">
                <ul class="list-unstyled mb-0">
                    <li><a asp-controller="BlogPosts" asp-action="Create">Create New Blog Post</a></li>
                    <li><a asp-controller="Tags" asp-action="Index">Tag Manager </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>