@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-8">
        <h2>Create a new account.</h2>
        <hr />
        <form class="row" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-6">
                <div class="d-flex justify-content-center mt-4">
                    <img id="contactImage" class="img-fluid img-thumbnail" style="width:200px;height:200px" src="~/img/defaultContactImage.jpg">
                </div>
                <div class="text-center">
                    <label class="control-label text-muted mb-4">User Image</label>
                    <input asp-for="Input.ImageFile" class="form-control" accept=".png,.jpg,.jpeg,.gif"
                           onchange="document.getElementById('contactImage').src = window.URL.createObjectURL(this.files[0])" />
                    <span asp-validation-for="Input.ImageFile" class="text-danger"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating my-2">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating my-2">
                    <input asp-for="Input.FirstName" class="form-control" aria-required="true" />
                    <label asp-for="Input.FirstName"></label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating my-2">
                    <input asp-for="Input.LastName" class="form-control" aria-required="true" />
                    <label asp-for="Input.LastName"></label>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-floating my-2">
                    <input asp-for="Input.DisplayName" class="form-control" aria-required="true" />
                    <label asp-for="Input.DisplayName"></label>
                    <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
                </div>
                <div class="form-floating my-2">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating my-2">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="">
                    <button id="registerSubmit" type="submit" class="w-100 float-end btn btn-lg btn-primary">Register</button>
                </div>

            </div>
        </form>
    </div>


    @*<div class="col-md-6 col-md-offset-2">
        <section>
        <h3>Use another service to register.</h3>
        <hr />
        @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
        <div>
        <p>
        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
        about setting up this ASP.NET application to support logging in via external services</a>.
        </p>
        </div>
        }
        else
        {
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
        <div>
        <p>
        @foreach (var provider in Model.ExternalLogins)
        {
        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
        }
        </p>
        </div>
        </form>
        }
        }
        </section>
        </div>*@
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
