@using AtlasBlog.Models
@using AtlasBlog.Services.Interfaces

@model IEnumerable<AtlasBlog.Models.Blog>

@inject IImageService _imageService

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h4 class="lead"> (Does the user need this page if all blogs go on landing page?) & (Blog Detail Page) </h4>
@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.ImageType != "")
                    {
                        <img class="img-fluid" style="width:200px;height:auto" src="@_imageService.ConvertByteArrayToFile(item.ImageData, item.ImageType)">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BlogName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BlogDescription)
                </td>
                <td>
                    @if (User.IsInRole("Administrator")){<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>}
                     | <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (User.IsInRole("Administrator")){<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>}
                </td>
            </tr>
        }
    </tbody>
</table>
